# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "a995c5546adaca4616ca68667281599d"
name = "AI Size Guide"
application_url = "https://lance-helena-notification-design.trycloudflare.com/app"
embedded = true

[build]
automatically_update_urls_on_dev = true
include_config_on_deploy = true

[webhooks]
api_version = "2025-10"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,write_customers,write_draft_orders,read_draft_orders,write_inventory,read_inventory,read_orders,write_orders,read_products,write_products"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://lance-helena-notification-design.trycloudflare.com/auth/callback"
]
